.card{
    background-color: #2d2d2d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 2px 2px 4px 2px #69b4ff; */
    box-shadow: 0px 0px 4px 2px #69b4ff;
    border-radius: 5px;
    height: 80%;
    width: 20%;
}

.card:hover{
    background-color: #69b4ff;
    background-image: linear-gradient(to right top, #0085ff, #2691ff, #3f9dff, #54a9ff, #69b4ff);
    /* box-shadow: -2px -2px 4px 6px #2d2d2d; */
    box-shadow: 0px 0px 4px 6px #2d2d2d;
    color:#2d2d2d;
}