body{
    background-color: #1E1E1E;
    /* color: #9e9e9e; */
    color: #FFFFFF;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Exo 2', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Play', sans-serif;
}