@media (max-width: 1920px) {
    .img{
        height: 15vh;
        width: 15vw;
        cursor: pointer;
        object-fit: cover;
    }
    
    .imgActive{
        box-shadow: 0px 0px 4px 2px #69b4ff;
        height: 15vh;
        width: 15vw;
        cursor: pointer;
        object-fit: cover;
    }
}

@media (max-width: 800px) {
    .img{
        height: 10vh;
        width: 25vw;
    }
    
    .imgActive{
        height: 10vh;
        width: 25vw;
    }
}
