@media (max-width: 1920px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10vh;
    }

    .img{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5vh;
        box-shadow: 0px 0px 4px 2px #69b4ff;
        border-radius: 5px;
        object-fit: cover;
    }

    .about{
        display: flex;
    }

    .row{
        background-color: #45454581;
        position: fixed;
        bottom: 20px;
        left: 20px;
        height: 5vh;
        width: 5vh;
        border-radius: 40%;
        box-shadow: 0px 0px 4px 2px #69b4ff;
        padding: 5px;
        cursor: pointer;
    }
}

@media (max-width: 1366px) {

    .about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 800px) {

    .img{
        height: 30vh;
        width: 80vw;
    }

    .row{
        height: 5vh;
        width: 5vh;
    }
}
