.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    display: flex;
    justify-content: flex-end;
    background-color: #454545;
    border-radius: 5px;
    padding: 5px;
}